{% extends "base.html" %}

{% load admin_urls %}

{% block title %}<title>Admin Dashboard | PLANTDIETlife</title>{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}css/admin_dashboard.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% for r in buffer_profiles %}
                {% if not r.exists %}
                    <form action="" method="POST">
                        {{ r.service }}: {{ r.service_username }}
                        {% csrf_token %}
                        <input type="hidden" value="{{ r.id }}" name="profile_id">
                        <input type="hidden" value="{{ r.service }}: {{ r.service_username }}"
                               name="profile_description">
                        <input type="hidden" value="add" name="action">
                        <input type="submit" value="Connect Account" class="btn btn-primary">
                    </form>
                {% else %}
                    <form action="" method="POST">
                        {{ r.service }}: {{ r.service_username }}
                        {% csrf_token %}
                        <input type="hidden" value="delete" name="action">
                        <input type="hidden" value="{{ r.id }}" name="profile_id">
                        <input type="submit" value="Disconnect Account" class="btn btn-danger">
                    </form>
                {% endif %}
                <br><br>
            {% endfor %}

        </div>
    </div>
    </div>
{% endblock %}
