<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta charset="utf-8">
    {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock viewport %}
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="{% block meta-title %}PLANTDIETlife{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.plantdietlife.com{{ STATIC_URL }}images/pdl.png"/>
    {% block meta_description %}
        <meta property="og:description" content="{{ title_tagline }}">{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    {% block title %}<title>White Hat News</title>{% endblock %}

    <link href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{#    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">#}
    <link href="{% static 'css/new_base.css' %}" rel="stylesheet">
    <!--<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script> -->
    {% block css %} {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->

</head>
<body>
<header class="d-flex align-items-stretch">
    <div class="container d-flex align-items-stretch">
        <nav class="navbar navbar-expand-lg flex-fill align-items-stretch">
            <div class="header-title navbar-brand align-self-center">
                <a href="{% url 'index' %}">White hat news</a>
            </div>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex sort-buttons align-self-stretch align-items-stretch">
                    <a href="{% url 'index' %}" class="btn d-flex sort-button {% if request.path == '/' %}active{% endif %}"><span class="align-self-center">Popular</span></a>
                    <a href="{% url 'index_latest' %}" class="btn d-flex sort-button {% if request.path == '/latest/' %}active{% endif %}"><span class="align-self-center">Latest</span></a>
                </div>
                <div class="search d-flex align-self-stretch align-items-stretch">
                    <button class="btn btn-search"><img alt="Search" src="{% static 'images/search.svg' %}"></button>
                </div>
                <div class="header-buttons ml-auto">
                    <button class="btn btn-link suggest-news">Suggest news</button>
                    <button class="btn btn-signup red-button">Sign up</button>
                    <button class="btn btn-login primary-button"><span class="btn-login-decoration">Login</span></button>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container main-content">
{% block content %}{% endblock content %}
</div>


{% block bottom-of-body %}{% endblock %}
<!-- Bootstrap core JavaScript
     ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% block js %} {% endblock %}
</body>

</html>