{% extends "base.html" %}

{% block title %}<title>{{ comment.text|slice:":25" }} ... | PLANTDIETlife</title>{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}css/view_post.css" rel="stylesheet">
{% endblock %}

{% block js %}
    {% include "partial/vote.html" %}
{% endblock %}

{% block content %}
    <div class="row post">
        <div class="col-lg-12" style="margin-bottom:6px;">
            {% include "partial/post_info.html" %}
        </div>
    </div>
    <hr>
    <br>
    <div class="row post">
        <div class="col-lg-6">
            {% include "partial/comment.html" with node=comment include_form=True %}
        </div>
    </div>
    {% include "partial/comment_tree.html" %}
{% endblock %}
