.results-info {
    font-size:17px;
    font-family: 'DINMittelschriftStd',Sans-Serif;
    color:#636363;
    margin-left:57px;
}
.results-small {
    font-size:14px;
    font-family: 'DINMittelschriftStd',Sans-Serif;
    color:#636363;
    margin-left:57px;
}
.sort-type {
    color:#636363;
    text-decoration:underline;
}
.sort-type:hover {
    color:#636363;
}