{% load staticfiles %}
<h5 class="modal-title">Welcome to White hat news</h5>
<p class="grey-text">Our experience spans organizations great and small. We know how to deliver solutions that fit your now...</p>
<a class="button button-linkedin" href="{% url 'social:begin' backend='linkedin-oauth2' %}"><img class="left" alt="LinkedIn Logo" src="{% static 'images/linkedin_logo.svg' %}"><div class="center">Linkedin login</div></a>
<button onclick="$('.btn-login').click()" class="button primary-button button-email"><span class="btn-login-decoration">Email Login</span></button>
<p><span class="text-opacity">New to White Hats News? </span> <a class="btn-link" href="{% url 'django_registration_register' %}">Sign Up</a></p>
