<h5 class="modal-title">Reset password</h5>
<form class="" id="password_reset_form" method="POST" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <div class="input-group">
        <div class="input-with-label {% if form.username.errors %}error{% endif %}">
            <input id="id_email" type="email" name="email">
            <label for="id_email">Email</label>
            {% include 'partial/form_error.html' with errors=form.email.errors %}
            <span class="error-text"></span>
        </div>
    </div>
    <span id="non-field" class="error-text "></span>
    <button type="submit" class="button primary-button" id="password-reset-submit">Reset password</button>
</form>