<h5 class="modal-title reset-title">Reset password</h5>
<p class="grey-text">No problem, we can send you password reset instructions!</p>
<form class="" id="password_reset_form" method="POST" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <div class="input-group">
        <div class="input-with-label {% if form.email.errors %}error{% endif %}">
            <input id="id_email" type="email" name="email">
            <label for="id_email">Email</label>
            {% include 'partial/form_error.html' with errors=form.email.errors %}
            <span class="error-text"></span>
        </div>
    </div>
    <span id="non-field" class="error-text"></span>
    <button type="submit" class="button primary-button button-without-bottom-text" id="password-reset-submit">Reset password</button>
</form>
<script>
    $(function () {
            $(document).on('submit', '#password_reset_form', function (e) {
            let form = $('#password_reset_form');
            e.preventDefault();
            $('.error-text').html('');
            $('.input-with-label').removeClass('error');
            $.ajax({
                method: 'POST',
                url: form.attr('action'),
                data: {
                    'csrfmiddlewaretoken': Cookies.get('csrftoken'),
                    'email': form.find('#id_email').val()
                },
                success: function (data) {
                    window.location.href = data.url;
                },
                error: function (data) {
                    var errors;
                    if (data.status === 500) {
                        errors = {"__all__": data.statusText};
                    } else {
                        errors = $.parseJSON(data.responseText);
                    }
                    for (error in errors) {
                        if (errors.hasOwnProperty(error)) {
                            if (error === '__all__') {
                                $('#non-field').html(errors[error]);
                            } else {
                                var input = $('#id_email');
                                input.closest('.input-with-label').find('.error-text').html(errors[error]);
                                input.closest('.input-with-label').addClass('error');
                            }
                        }
                    }
                }
            });
        });
    })
</script>