{% extends 'posts/base.html' %}

{% load posts_extras staticfiles %}

{% block mobile_sort_buttons %}
    <div id="mobile-sort-buttons" class="d-flex d-md-none d-lg-none sort-buttons align-lg-self-stretch align-items-stretch">
        <a href="{% url 'index_popular' %}" class="btn d-flex sort-button {% if request.path == '/popular/' or request.path == '/' %}active{% endif %}"><span class="align-self-center">Popular</span></a>
        <a href="{% url 'index_latest' %}" class="btn d-flex sort-button {% if request.path == '/latest/' %}active{% endif %}"><span class="align-self-center">Latest</span></a>
    </div>
{% endblock mobile_sort_buttons %}

{% block content %}
    <div class="row">
        <div class="article-container mx-md-auto mx-lg-auto mx-xl-auto latest-stories">
            <div class="news-header">
                {% block header-title %}
                {% endblock %}
            </div>

            <div class="news">
                {% for article in news %}
                    {% if forloop.first %}
                        {% include 'partial/article.html' with article=article first=1 last=0 search=1 %}
                    {% elif forloop.last %}
                        {% include 'partial/article.html' with article=article last=1 first=0 search=1 %}
                    {% elif forloop.first and forloop.last %}
                        {% include 'partial/article.html' with article=article first=1 last=1 search=1 %}
                    {% else %}
                        {% include 'partial/article.html' with article=article first=0 last=0 search=1 %}
                    {% endif %}
                {% endfor %}
                {% if is_paginated %}
                        <div class="pagination">
                                <span class="previous">
                                    {% if page_obj.has_previous %}
                                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                                            <img alt="Previous" src="{% static 'images/Page_selector.svg' %}" />Previous</a>
                                    {% else %}
                                        <a href="{{ request.path }}?page=" style="opacity: 0">
                                            <img alt="Previous" src="{% static 'images/Page_selector.svg' %}" />Previous</a>
                                    {% endif %}
                                </span>
                            <span class="center">
                            {% if page_obj.number|add:'-4' > 1 %}
                                <a href="{{ request.path }}?page={{ page_obj.number|add:'-5' }}">&hellip;</a>
                            {% endif %}
                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <span class="current">{{ i }} <span class="sr-only">(current)</span></span>
                                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                        <a href="{{ request.path }}?page={{ i }}">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                                    <a href="{{ request.path }}?page={{ page_obj.number|add:'5' }}">&hellip;</a>
                                {% endif %}
                                </span>
                            <span class="next">
                                    {% if page_obj.has_next %}
                                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                                            Next<img alt="Next" src="{% static 'images/Page_selector.svg' %}" /></a>
                                    {% else %}
                                        <a href="{{ request.path }}?page=" style="opacity: 0">
                                            Next<img alt="Next" src="{% static 'images/Page_selector.svg' %}" /></a>
                                    {% endif %}
                                </span>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}