{% extends 'posts/base.html' %}
{% load staticfiles %}

{% block mobile_sort_buttons %}
{% endblock mobile_sort_buttons %}

{% block content %}
    <div class="profile-container">
        <div class="profile-image-container">
            <div class="profile-image">
                <div class="image">
                    <img src="{{ user.userprofile.image_thumbnail_md.url }}" alt="Profile image">
                    <img src="{% static 'images/change_image_icon.svg' %}" class="change-image-icon" alt="Change image">
                </div>
            </div>
            <button id="change-image" class="button primary-button">Change image</button>
            <span id="image-error" class="error-text"></span>
            <form method="post" action="{% url 'change-profile-image' %}" enctype="multipart/form-data" hidden>
                {% csrf_token %}
                <input id="change-image-input" type="file" name="new_image">
            </form>
            <div class="text-capitalize">{{ user.first_name }} {{ user.last_name }}</div>
        </div>
        <div class="profile-settings-container">
            <form action="{% url 'profile' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-with-label first-name {% if form.first_name.errors %}error{% endif %}">
                        <input value="{{ user.first_name }}" id="register-first-name" type="text" autocomplete="given-name" name="first_name">
                        <label for="register-first-name">First name</label>
                        {% include 'partial/form_error.html' with errors=form.first_name.errors %}
                        <span class="error-text"></span>
                    </div>
                    <div class="input-with-label {% if form.last_name.errors %}error{% endif %}">
                        <input value="{{ user.last_name }}" id="register-last-name" autocomplete="family-name" type="text" name="last_name">
                        <label for="register-last-name">Last name</label>
                        {% include 'partial/form_error.html' with errors=form.last_name.errors %}
                        <span class="error-text"></span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-with-label {% if form.email.errors %}error{% endif %}">
                        <input value="{{ user.email }}" id="id_email" autocomplete="email" type="email" name="email">
                        <label for="id_email">Email</label>
                        {% include 'partial/form_error.html' with errors=form.email.errors %}
                        <span class="error-text"></span>
                    </div>
                </div>
                <div class="input-group">
                    <h3>Change password</h3>
                    <div class="input-with-label first-name {% if form.old_password.errors %}error{% endif %}">
                        <input id="register-password" type="password" autocomplete="old-password" name="old_password">
                        <label for="register-password">Old password</label>
                        {% include 'partial/form_error.html' with errors=form.old_password.errors %}
                        <span class="error-text"></span>
                    </div>
                    <div class="input-with-label {% if form.new_password.errors %}error{% endif %}">
                        <input placeholder="Enter new password" type="password" autocomplete="new-password" name="new_password">
                        {% include 'partial/form_error.html' with errors=form.new_password.errors %}
                        <span class="error-text"></span>
                    </div>
                </div>
                <div class="input-group">
                    <button type="submit" class="button primary-button" id="save-changes">Save changes</button>
                    <button type="reset" class="button btn btn-login"><span class="btn-login-decoration">Cancel</span></button>
                    {% if user.is_staff %}
                        <a href="{% url 'admin:index' %}" class="button btn-login btn-admin"><span class="btn-login-decoration">Open admin panel</span></a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script>
        $(function () {
            var profile_form = $('.profile-settings-container form');
            let first_name = profile_form.find('input[name="first_name"]');
            let last_name = profile_form.find('input[name="last_name"]');
            let email = profile_form.find('input[name="email"]');
            let old_password = profile_form.find('input[name="old_password"]');
            let new_password = profile_form.find('input[name="new_password"]');
            let changing_fields = [first_name, last_name, email, old_password, new_password];

            profile_form.find('button[type="reset"]').on('click, touch', function (e) {
                e.preventDefault();
                for (field in changing_fields) {
                    if (changing_fields.hasOwnProperty(field)) {
                        changing_fields[field].val('');
                    }
                }
            });

            var image_input = $('#change-image-input');

            $('#change-image, .image').on('click touch', function (e) {
                e.preventDefault();
                image_input.click();
            });

            image_input.on('change', function (e) {
                e.preventDefault();
                let form = image_input.parent();
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: new FormData(form.get(0)),
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $('.profile-image image > img').attr('src', data.new_image_url);
                    },
                    error: function (data) {
                        console.log(data);
                        var errors;
                        if (data.statusText === "Unprocessable Entity"){
                            errors = $.parseJSON(data.responseText);
                        } else if (data.status === 500) {
                            errors = {"__all__": data.statusText};
                        }
                        for (error in errors) {
                            if (errors.hasOwnProperty(error)) {
                                if (error === '__all__') {
                                    $('#non-field').html(errors[error]);
                                } else {
                                    if (errors[error] !== 'This field is required.') {
                                        $('#image-error').html(errors[error])
                                    }
                                }
                            }
                        }
                    }
                });
            });


            profile_form.on('submit', function (e) {
                e.preventDefault();
                profile_form.preventDoubleSubmit();
                $('.error-text').html('');
                $('.input-with-label').removeClass('error');
                let data = {
                    'csrfmiddlewaretoken': profile_form.find('input[name="csrfmiddlewaretoken"]').val()
                };

                for (field in changing_fields) {
                    if (changing_fields.hasOwnProperty(field) && changing_fields[field][0].value &&
                        changing_fields[field][0].value !== changing_fields[field][0].defaultValue) {
                        data[changing_fields[field][0].name] = changing_fields[field][0].value;
                    }
                }
                console.log(data);

                $.ajax({
                    type: 'POST',
                    url: profile_form.attr('action'),
                    data: data,
                    success: function (data) {
                        this.beenSubmitted = false;
                        window.location.href = data.url;
                    },
                    error: function (data) {
                        this.beenSubmitted = false;
                        var errors;
                        if (data.statusText === "Unprocessable Entity"){
                            errors = $.parseJSON(data.responseText);
                        } else if (data.status === 500) {
                            errors = {"__all__": data.statusText};
                        }
                        for (error in errors) {
                            if (errors.hasOwnProperty(error)) {
                                if (error === '__all__') {
                                    $('#non-field').html(errors[error]);
                                } else {
                                    var input = $('input[name=' + error + ']');
                                    input.closest('.input-with-label').find('.error-text').html(errors[error]);
                                    input.closest('.input-with-label').addClass('error');
                                }
                            }
                        }
                    }
                });
            });
        });
    </script>
{% endblock js %}