{% load staticfiles posts_extras %}
<div class="row">
    <div class="article-container mx-md-auto mx-lg-auto mx-xl-auto latest-stories">
    {% if top_search_results %}
        <div class="news-header">
            <h3>Top results</h3>
            <span class="total-results">{{ total_results }} total result{{ total_results|pluralize }}</span>
        </div>
        <div class="news search-results">
            {% for article in top_search_results %}
                {% if forloop.first %}
                        {% include 'partial/article.html' with article=article first=1 last=0 search=1 %}
                    {% elif forloop.last %}
                        {% include 'partial/article.html' with article=article last=1 first=0 search=1 %}
                    {% else %}
                        {% include 'partial/article.html' with article=article first=0 last=0 search=1 %}
                    {% endif %}
            {% endfor %}
        </div>
    {% elif not top_search_results and not search_results %}
        <div class="news-header">
            <h3>Nothing found</h3>
        </div>
    {% endif %}
    {% if top_search_results and search_results %}
        <div id="other-results" class="news-header">
            <h3>Other results</h3>
        </div>
    {% endif %}
        <div class="news search-results">
            {% for article in search_results %}
                {% if forloop.first %}
                        {% include 'partial/article.html' with article=article first=1 last=0 search=1 %}
                    {% elif forloop.last %}
                        {% include 'partial/article.html' with article=article last=1 first=0 search=1 %}
                    {% else %}
                        {% include 'partial/article.html' with article=article first=0 last=0 search=1 %}
                    {% endif %}
            {% endfor %}
            {% if is_paginated %}
                <div class="pagination">
                                <span class="previous">
                                    {% if page_obj.has_previous %}
                                        <a class="btn-pagination" data-page="{{ page_obj.previous_page_number }}" href="#">
                                            <img alt="Previous" src="{% static 'images/Page_selector.svg' %}" />Previous</a>
                                    {% else %}
                                        <a class="btn-pagination" href="" style="opacity: 0">
                                            <img alt="Previous" src="{% static 'images/Page_selector.svg' %}" />Previous</a>
                                    {% endif %}
                                </span>
                    <span class="center">
                            {% if page_obj.number|add:'-4' > 1 %}
                                <a class="btn-pagination" data-page="{{ page_obj.number|add:'-5' }}"  href="#">&hellip;</a>
                            {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <span class="current">{{ i }} <span class="sr-only">(current)</span></span>
                            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                <a class="btn-pagination" data-page="{{ i }}" href="#">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                            <a class="btn-pagination" data-page="{{ page_obj.number|add:'5' }}" href="#">&hellip;</a>
                        {% endif %}
                                </span>
                    <span class="next">
                                    {% if page_obj.has_next %}
                                        <a class="btn-pagination"  data-page="{{ page_obj.next_page_number }}" href="#">
                                            Next<img alt="Next" src="{% static 'images/Page_selector.svg' %}" /></a>
                                    {% else %}
                                        <a class="btn-pagination" href="#" style="opacity: 0">
                                            Next<img alt="Next" src="{% static 'images/Page_selector.svg' %}" /></a>
                                    {% endif %}
                                </span>
                </div>
            {% endif %}
        </div>
    </div>
</div>