{% extends 'posts/base.html' %}

{% block mobile_sort_buttons %}
{% endblock mobile_sort_buttons %}
{% block content_without_container %}
    <div class="header-container">
        <div class="header-of-text">
            <h2>VICEROY​'S PRIVACY AND<br> SECURITY STATEMENT</h2>
            <p class="big">Last modified: {{ terms_of_service.last_modified|date:"F Y" }}</p>
        </div>
    </div>
    <div class="main-text">
        {{ terms_of_service.content|safe }}
    </div>
{% endblock content_without_container %}
{% block content %}
{% endblock content %}